@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/effra-medium');

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main: #1a1a1a;
    --body-color: #fff;
    --font-family: "Roboto", sans-serif;
    --big-font: 50pt;
    --big-weight: 900;
}

body {
    background: var(--body-color);
    font-family: 'Effra Medium', sans-serif;
    font-size: 12pt;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: var(--body-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10%;
    position: fixed;
    z-index: 1;
}

.logoContainer {
    width: 40%;
    height: 100%;
}

.logoContainer img {
    height: 100%;
}

.menuContainer {
    width: 60%;
    text-align: right;
}

.menuContainer li {
    list-style: none;
}

.menuContainer li a {
    text-decoration: none;
    margin-left: 20px;
    color: var(--main);
}

.menuContainer li .link {
    padding: 6px 17px;
    border-radius: 25px;
}

.menuContainer li a:hover {
    background-color: #f1f1f1;
}

.menuContainer li a button {
    padding: 8px 20px;
    font-family: var(--font-family);
    color: var(--body-color);
    border: none;
    background-color: var(--main);
}

.menu, .mobile_menu_container {
    display: none;
}

@media only screen and (max-width: 720px) {
    .menuContainer {
        display: none !important;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
    .menu img {
        height: 60%;
    }

    .mobile_menu_container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: var(--main);
        z-index: 1;
        margin-top: 60px;
    }

    .mobile_menu_container li {
        list-style: none;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .mobile_menu_container li a {
        color: var(--body-color);
        margin-top: 40px;
        text-decoration: none;
    }

    .mobile_menu_container li a button {
        padding: 8px 20px;
        font-family: var(--body-color);
        color: var(--main);
        border: none;
        background-color: var(--body-color);
    }
}

.landingScreen {
    width: 100%;
    height: 100vh;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landingScreen .container {
    width: 55%;
    height: auto;
}

.landingScreen h3 {
    font-size: var(--big-font);
    line-height: 65px;
    color: var(--body-color);
    font-family: 'Effra Medium', sans-serif;
}

.landingScreen p {
    font-size: 18pt;
    margin-top: 20px;
    color: var(--body-color);
}

@media only screen and (max-width: 720px) {
    .landingScreen h3 {
        font-size: 30pt;
        line-height: 40px;
    }

    .landingScreen .container {
        width: 80%;
        height: auto;
    }

    .landingScreen p {
        font-size: 15pt;
        margin-top: 20px;
    }

    .landingScreen {
        height: 100%;
        padding: 180px 0px 90px 0px;
    }
}

.content {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}

.content .container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    width: 50%;
}

.content .container h3 {
    font-size: 40pt;
    line-height: 53px;
    font-family: 'Effra Medium', sans-serif;
}

.content .container p {
    margin-top: 20px;
    width: 85%;
    font-family: "Roboto", sans-serif;
}

.button {
    padding: 8px 20px;
    font-family: var(--font-family);
    color: var(--body-color);
    border: none;
    background-color: var(--main);
    margin-top: 30px;
}

.title img {
    width: 100%;
}

@media only screen and (max-width: 720px) {
    .content .container {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .title {
        width: 100%;
        margin-bottom: 20px;
    }

    .content .container h3 {
        font-size: 25pt;
        line-height: 36px;
    }

    .content .container p {
        width: 100%;
    }
}

.clients {
    background-color: #f4f4f4;
    flex-direction: column;
}

.top {
    text-align: center;
}

.top h3 {
    font-size: 40pt;
    font-family: 'Effra Medium', sans-serif;
}

.top p {
    font-family: "Roboto", sans-serif;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin-top: 40px;
}

.eachproject {
    margin-right: 10px;
    width: 24%;
    height: 200px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.children:nth-child(4n) {
    margin-right: 0;
}

.backgroundImage {
    height: 100%;
    width: 100%;
    background-color: rgb(114, 148, 148);
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.backgroundImage:hover {
    background-color: #1a1a1a;
}

.descript {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 10pt;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin: 4px 2px;
    color: #535353;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.actions p {
    margin-left: 8px;
}

@media only screen and (max-width: 720px) {
    .top {
        text-align: left;
        width: 80%;
    }

    .top h3 {
        font-size: 25pt;
        margin: 0;
    }

    .projects {
        flex-direction: column;
    }

    .eachproject {
        width: 100%;
    }
}

.clientsLogos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
}

.clientsLogos img {
    height: 35px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    margin: 0px 50px;
    margin-bottom: 40px;
}

.clientsLogos img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.eachservices {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 27px;
    width: 32.7%;
    color: #1a1a1a;
    font-family: "Roboto", sans-serif;
    height: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.eachservices:nth-child(3n) {
    margin-right: 0;
    margin-left: 0;
}

.eachservices img {
    width: 25%;
    margin-bottom: 15px;
}

.eachservices p {
    font-size: 10.5pt;
    margin-top: 10px;
}

.eachservices:hover {
    background-color: #e6e6e6;    
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

@media only screen and (max-width: 720px) {
    .clientsLogos {
        width: 100%;
    }

    .clientsLogos img {
        margin: 0px 27px;
        margin-bottom: 27px;
    }

    .eachservices {
        width: 100%;
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
    }
}

footer {
    width: 100%;
    height: auto;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

hr {
    width: 80%;
    opacity: 20%;
    margin: 15px;
}