@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main: #1a1a1a;
    --body-color: #fff;
    --font-family: "Roboto", sans-serif;
    --big-font: 50pt;
    --big-weight: 900;
}

body {
    background: var(--body-color);
    font-family: 'Effra Medium', sans-serif;
    font-size: 11pt;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: var(--body-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10%;
    position: fixed;
    z-index: 1;
}

.logoContainer {
    width: 40%;
    height: 100%;
}

.logoContainer img {
    height: 100%;
}

.menuContainer {
    width: 60%;
    text-align: right;
}

.menuContainer li {
    list-style: none;
}

.menuContainer li a {
    text-decoration: none;
    margin-left: 20px;
    color: var(--main);
}

.menuContainer li .link {
    padding: 6px 17px;
    border-radius: 25px;
}

.menuContainer li a:hover {
    background-color: #eeeeee;
}

.menuContainer li a button {
    padding: 8px 20px;
    font-family: var(--font-family);
    color: var(--body-color);
    border: none;
    background-color: var(--main);
}

.menu, .mobile_menu_container {
    display: none;
}

@media only screen and (max-width: 720px) {
    .menuContainer {
        display: none !important;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
    .menu img {
        height: 60%;
    }

    .mobile_menu_container {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: var(--main);
    }

    .mobile_menu_container li {
        list-style: none;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .mobile_menu_container li a {
        color: var(--body-color);
        margin-top: 40px;
        text-decoration: none;
    }

    .mobile_menu_container li a button {
        padding: 8px 20px;
        font-family: var(--body-color);
        color: var(--main);
        border: none;
        background-color: var(--body-color);
    }
}

.landingScreen {
    width: 100%;
    height: 100vh;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landingScreen .container {
    width: 55%;
    height: auto;
}

.landingScreen h3 {
    font-size: var(--big-font);
    line-height: 65px;
}

.landingScreen p {
    font-size: 18pt;
    margin-top: 20px;
}

@media only screen and (max-width: 720px) {
    .landingScreen h3 {
        font-size: 30pt;
        line-height: 40px;
    }

    .landingScreen .container {
        width: 80%;
        height: auto;
    }

    .landingScreen p {
        font-size: 15pt;
        margin-top: 20px;
    }
}

.content {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}

.content .container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    width: 50%;
}

.content .container h3 {
    font-size: 40pt;
    line-height: 53px;
}

.content .container p {
    margin-top: 20px;
    width: 85%;
}

.button {
    padding: 8px 20px;
    font-family: var(--font-family);
    color: var(--body-color);
    border: none;
    background-color: var(--main);
    margin-top: 30px;
}

.title img {
    width: 100%;
}

@media only screen and (max-width: 720px) {
    .content .container {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .title {
        width: 100%;
        margin-bottom: 20px;
    }

    .content .container h3 {
        font-size: 25pt;
        line-height: 36px;
    }

    .content .container p {
        width: 100%;
    }
}