@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main: #1a1a1a;
    --body-color: #fff;
    --font-family: "Inter", sans-serif;
    --big-font: 50pt;
    --big-weight: 900;
}

body {
    background: var(--body-color);
    font-family: "Inter", sans-serif;
    font-size: 12pt;
    text-transform: capitalize;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: var(--body-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10%;
    position: fixed;
    z-index: 1;
}

.logoContainer {
    width: 40%;
    height: 100%;
}

.logoContainer img {
    height: 100%;
}

.menuContainer {
    width: 60%;
    text-align: right;
}

.menuContainer li {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.menuContainer li a {
    text-decoration: none;
    margin-left: 20px;
    color: var(--main);
}

.menuContainer li .link {
    padding: 6px 17px;
    border-radius: 25px;
}

.menuContainer li a:hover {
    background-color: #f1f1f1;
}

.menuContainer li a button {
    padding: 8px 20px;
    font-family: var(--font-family);
    color: var(--body-color);
    border: none;
    background-color: var(--main);
}

.menu, .mobile_menu_container {
    display: none;
}

@media only screen and (max-width: 720px) {
    .menuContainer {
        display: none !important;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
    .menu img {
        height: 60%;
    }

    .mobile_menu_container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: var(--main);
        z-index: 1;
        margin-top: 60px;
    }

    .mobile_menu_container li {
        list-style: none;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .mobile_menu_container li a {
        color: var(--body-color);
        margin-top: 40px;
        text-decoration: none;
    }

    .mobile_menu_container li a button {
        padding: 8px 20px;
        font-family: var(--body-color);
        color: var(--main);
        border: none;
        background-color: var(--body-color);
    }
}

.landingScreen {
    width: 100%;
    height: 100vh;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landingScreen .container {
    width: 55%;
    height: auto;
}

.landingScreen h3 {
    font-size: var(--big-font);
    line-height: 65px;
    color: var(--body-color);
    font-family: "Inter", sans-serif;
}

.landingScreen p {
    font-size: 18pt;
    margin-top: 20px;
    color: var(--body-color);
}

@media only screen and (max-width: 720px) {
    .landingScreen h3 {
        font-size: 30pt;
        line-height: 40px;
    }

    .landingScreen .container {
        width: 80%;
        height: auto;
    }

    .landingScreen p {
        font-size: 15pt;
        margin-top: 20px;
    }

    .landingScreen {
        height: 100%;
        padding: 180px 0px 90px 0px;
    }
}

.content {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}

.content .container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    width: 50%;
}

.content .container h3 {
    font-size: 40pt;
    line-height: 53px;
    font-family: "Inter", sans-serif;
}

.content .container p {
    margin-top: 20px;
    width: 85%;
    font-family: "Inter", sans-serif;
}

.button {
    padding: 12px 24px;
    font-family: var(--font-family);
    color: var(--body-color);
    border: none;
    background-color: var(--main);
    margin-top: 30px;
    cursor: pointer;
}

.title img {
    width: 100%;
}

@media only screen and (max-width: 720px) {
    .content .container {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .title {
        width: 100%;
        margin-bottom: 20px;
    }

    .content .container h3 {
        font-size: 25pt;
        line-height: 36px;
    }

    .content .container p {
        width: 100%;
    }
}

.clients {
    background-color: #f4f4f4;
    flex-direction: column;
}

.top {
    text-align: center;
}

.top h3 {
    font-size: 40pt;
    font-family: "Inter", sans-serif;
}

.top p {
    font-family: "Inter", sans-serif;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin-top: 40px;
}

.eachproject {
    margin-right: 10px;
    width: 24%;
    height: 200px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.children:nth-child(4n) {
    margin-right: 0;
}

.backgroundImage {
    height: 100%;
    width: 100%;
    background-color: rgb(114, 148, 148);
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.backgroundImage:hover {
    background-color: #1a1a1a;
}

.descript {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 10pt;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    margin: 4px 2px;
    color: #535353;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.actions p {
    margin-left: 8px;
}

@media only screen and (max-width: 720px) {
    .top {
        text-align: left;
        width: 80%;
    }

    .top h3 {
        font-size: 25pt;
        margin: 0;
    }

    .projects {
        flex-direction: column;
    }

    .eachproject {
        width: 100%;
    }
}

.clientsLogos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
}

.clientsLogos img {
    height: 35px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    margin: 0px 50px;
    margin-bottom: 40px;
}

.clientsLogos img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.eachservices {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 27px;
    width: 32.7%;
    color: #1a1a1a;
    font-family: "Inter", sans-serif;
    height: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.eachservices:nth-child(3n) {
    margin-right: 0;
    margin-left: 0;
}

.eachservices img {
    width: 25%;
    margin-bottom: 15px;
}

.eachservices p {
    font-size: 10.5pt;
    margin-top: 10px;
}

.eachservices:hover {
    background-color: #e6e6e6;    
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

@media only screen and (max-width: 720px) {
    .clientsLogos {
        width: 100%;
    }

    .clientsLogos img {
        margin: 0px 27px;
        margin-bottom: 27px;
    }

    .eachservices {
        width: 100%;
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
    }
}

footer {
    width: 100%;
    height: auto;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    color: #fff;
}

hr {
    width: 80%;
    opacity: 20%;
    margin: 15px;
}

.footer_links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.footer_logo {
    width: 15%;
    height: auto;
}

.footer_logo img {
    width: 100%;
}

.each_links {
    width: 100%;
    height: auto;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
}

.linkscategories {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.linkscategories p {
    margin-bottom: 15pt;
    color: #fff;
}

.linkscategories a {
    text-decoration: none;
    color: #a3a3a3;
    font-family: "Inter", sans-serif;
    font-size: 10.5pt;
    margin-top: 15pt;
}

footer p {
    font-size: 10.5pt;
    color: #a3a3a3;
}

.linkscategories a:hover {
    color: #c49132;
}

@media only screen and (max-width: 720px) {
    .footer_links {
        flex-direction: column;
        margin-bottom: 0;
    }

    .footer_logo {
        width: 40%;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .each_links {
        width: 100%;
        height: auto;
        margin-left: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .linkscategories {
        width: 100%;
        margin-bottom: 50px;
    }
    
    .linkscategories a, .linkscategories p {
        width: 90%;
    }

    .linkscategories:nth-child(2n) {
        margin-left: 0%;
        width: 100%;
    }
}

.pagesbanner {
    height: auto;
    padding: 200px 0px;
}

.projectsmenus {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.projectsmenus a {
    margin: 0px 5px;
    padding: 8px 20px;
    background-color: #1a1a1a;
    color: #fff;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 10.5pt;
}

.projectsmenus a:first-child {
    margin-left: 0;
}

.projectsmenus a:last-child {
    margin-right: 0;
}

.projectsmenus a:hover {
    background-color: #c49132;
}

.selectCategory {
    display: none;
}

@media only screen and (max-width: 720px) {
    .selectCategory {
        display: flex;
        justify-content: space-between;
        width: 80%;
        padding: 12px 20px;
        background-color: #1a1a1a;
        color: #fff;
    }

    .projectsmenus {
        display: none;
    }

    #projectsmenus {
        display: none;
        flex-direction: column;
        margin-top: 15px;
    }
    
    .projectsmenus a {
        margin: 0;
        margin-bottom: 3px;
        background-color: #535353;
    }

    #cate_button p, #cate_button_close p {
        text-transform: capitalize;
    }
}

.eachcareer {
    width: 100%;
    background-color: #e6e6e6;
    border-radius: 7px;
    border: 1px solid #a3a3a333;
    height: auto;
    margin-bottom: 30px;
    padding: 50px;
}

.roletag {
    margin-top: 20px;
    padding: 5px 20px;
    background-color: #c49132;
    color: #fff;
    width: 19%;
    margin-bottom: 20px;
}

.jobmode {
    margin-left: 10px;
    font-size: 8pt;
    font-weight: 100;
    padding: 2px 10px;
    border-radius: 25px;
    background-color: green;
    color: #fff;
}

@media only screen and (max-width: 720px) {
    .roletag {
        width: 100%;
    }
    
    .eachcareer {
        padding: 25px;
    }
}

@media only screen and (max-width: 1000px) {
    .roletag {
        width: 100%;
    }
}

.formContainer {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.formContainer p {
    width: 50%;
    margin-top: 20px;
}

.formContainer form {
    margin-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formContainer form .inputrow {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: left;
}

.formContainer form .inputrow div, .textarea div {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 10px;
}

.textarea div {
    text-align: left;
    width: 100%;
}

.textarea div textarea {
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 8px;
    font-size: 10.5pt;
    font-family: 'Roboto',sans-serif;
    height: 100px;
    margin-top: 5px;
}

.formContainer form .inputrow div:nth-child(2) {
    margin-right: 0;
}

.formContainer form .inputrow div input,
.formContainer form .inputrow div select {
    height: 35px;
    margin-top: 5px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding-left: 8px;
    font-size: 10.5pt;
}

@media only screen and (max-width: 1000px) {
    .formContainer {
        padding: 70px 0px;
    }

    .formContainer p {
        width: 80%;
    }

    .formContainer form {
        width: 80%;
    }

    .formContainer form .inputrow {
        display: flex;
        flex-direction: column;
    }

    .formContainer form .inputrow div {
        width: 100%;
    }
}

.preview {
    width: 80%;
    height: 100%;
    /* padding: 100px; */
    /* background-color: #a3a3a3; */
}

.prevPage {
    background-color: #fff;
    padding: 100px 0px;
}

.prevImage {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.prevImage img {
    width: 100%;
    border-radius: 7px;
}

.prevmenus {
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: fixed;
    float: right;
    margin-left: 80%;
    border-radius: 7px;
}

.prevmenus a {
    margin-bottom: 10px;
}

.prevmenus a:last-child {
    margin-bottom: 0px;
}

.prevmenus a {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 10px;
    text-decoration: none;
    align-items: center;
}

.prevmenus a:hover {
    color: #c49132;
    border: 2px solid #c49132;
}

.prevmenus a i {
    margin: 0;
    margin-bottom: 3px;
    font-size: 16pt;
}

.prevmenus a p {
    font-size: 9pt;
    margin: 0;
    color: #e6e6e6;
}

.descriptionPrev {
    width: 100%;
    height: auto;
    background-color: #ebe4d8;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 7px;
}

.descriptionPrev p {
    margin: 0;
    font-size: 12pt;
    font-family: var(--font-family);
    color: #1a1a1a;
}

@media only screen and (max-width:720px) {
    .prevmenus {
        display: flex;
        flex-direction: row;
        position: fixed;
        float: left;
        margin-left: 0%;
        border-radius: 7px;
        bottom: 0;
        width: 80%;
    }

    .descriptionPrev {
        padding: 20px;
    }

    .prevmenus a {
        margin-bottom: 0;
        margin-right: 10px;
    }

    .prevmenus a:last-child {
        margin-right: 0;
    }

    .prevmenus a i {
        font-size: 10pt;
        margin-bottom: 0;
    }

    .prevmenus a p {
        text-align: center;
    }
}

.fa-heart {
    color: red;
}

.successContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    color: #e6e6e6;
}

.successContainer h3 {
    color: #fff;
    font-size: 24pt;
    margin-bottom: 20px;
}

.successContainer img {
    width: 15%;
    margin-bottom: 30px;
}

.successContainer p {
    width: 30%;
    margin-bottom: 10px;
    text-align: center;
}

.body-section {
    width: 100%;
    height: auto;
}

.body-section h3 {
    font-size: 30pt;
    margin-bottom: 10px;
}

.body-section p {
    width: 50%;
}

.sectionHeaderContainer {
    height: 300px;
    border: 2px solid #8888881c;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10%;
}

.area {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navigations {
    width: 30%;
    height: fit-content;
    /* position: fixed; */
    /* border: 1px solid #c49132; */
    padding: 2% 0% 2% 10%;
}

.navigations p {
    margin-bottom: 15px;
    width: 100%;
}

.navigations a p {
    font-size: 10pt;
}

.navigations a {
    cursor: pointer;
    text-decoration: none;
}

.surveyarea {
    width: 70%;
    padding: 2% 10% 2% 2%;
}

.surveyarea h3 {
    font-size: 15pt;
}

.surveyarea p {
    font-size: 10pt;
    width: 100%;
}

.formfield {
    display: flex;
    flex-direction: column;
    width: 47%;
    margin-bottom: 10px;
}

.formfield label {
    font-size: 10pt;
    margin-bottom: 5px;
}

.formfield input,
.formfield select,
.formfield textarea {
    height: 40px;
    border-radius: 5px;
    border: 2px solid #3333333c !important;
    padding: 10px;
    outline: none;
    font-size: 11pt;
    width: 400px;
}

.formfield textarea {
    width: 100%;
    height: 300px;
    font-family: var(--font-family);
}

.bigform {
    width: 98.5% !important;
}

.bigform i {
    font-size: 8pt;
    margin-bottom: 5px;
}

.formrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.surveyarea h1 {
    font-size: 30pt;
    width: 80%;
}

.courses_container {
    width: 100%;
    height: auto;
    /* background-color: #fff; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 2% 10%;
}

.courserow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.courserow a {
    width: 32%;
    margin-right: 20px;
    text-decoration: none;
    color: #1a1a1a;
    transition: .3s;
}

.eachcourse {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
    background-color: #fff;
    margin: 0;
    
    margin-top: 20px;
}

.courserow a:nth-child(3n) {
    margin-right: 0;
    flex-basis: 32%;
    flex-grow: 1;
    flex-shrink: 0;
}

.courserow a:hover {
    scale: 105%;
}

.bkgImg {
    width: 100%;
    height: 200px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.eachcourse h3 {
    margin-top: 20px;
}

.eachcourse p {
    font-size: 10pt;
    margin-top: 5px;
}

.eachcourse hr {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.starrow {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    flex-wrap: nowrap;
}

.starrow p {
    font-size: 9pt;
    margin-left: 4px;
}

.starrow i {
    color: #c49132;
    font-size: 10pt;
}

.eachcourse strong {
    font-size: 16pt;
}

.formcolumn {
    background-color: #fff;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.formcolumn button {
    margin-top: 0;
}

.formcolumn p {
    margin-top: 20px;
}

.formcolumn form {
    margin-top: 20px;
    width: 100%;
}

.formcolumn form .formfield:last-child {
    margin-bottom: 0;
}

.formcolumn form p {
    font-size: 10pt;
}

.formcolumn form hr {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

.formcolumn form button {
    margin-top: 20px;
}

.formfieldrow {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
}

.formfieldrow .formfield {
    width: 32% !important;
}

.formfieldrow .formfield:nth-child(3n) {
    margin-right: 0;
}

.formfieldrow .formfield {
    margin-right: 20px;
}

.formfieldrow .formfield input,
.formfieldrow .formfield select,
.formfieldrow .formfield textarea {
    width: 100%;
}

.fieldrow {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.fieldrow label {
    margin-left: 10px;
    font-size: 10pt;
}

.formcolumn form .minitext {
    margin-top: 0 !important;
    font-size: 8pt;
    color: red;
    display: none;
}

.paymentContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #fff;
    width: 40%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row hr {
    width: 20%;
    margin: 0;
    opacity: 100%;
    margin-right: 20px;
}

.paymentContainer p {
    font-size: 10pt;
    margin-top: 20px;
}

.paymentContainer hr {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0;
    opacity: 100%;
}

.spacebetween {
    justify-content: space-between;
    margin-top: 20px;
}

.tape {
    width: 40%;
    height: 8px;
    background-color: #c49132;
}

.blackbkg {
    width: 40%;
    padding: 20px;
    background-color: #1a1a1a;
    color: #fff;
}

.blackbkg p {
    font-size: 10pt;
    margin-bottom: 10px;
}

.courses_container .minitext {
    font-size: 10pt;
    margin-top: 10px;
}

.adsAcademia {
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.adsAcademia a {
    width: fit-content;
    height: auto;
    width: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.adsContainer {
    /* background-color: #c49132; */
    height: fit-content;
}

.adsContainer img {
    width: 100%;
    margin: 0;
}

.Mobile {
    display: none;
}

.free-training {
    width: 100%;
    height: auto;
    padding: 5%;
}

.free-training form {
    width: 100% !important;
    display: flex;
    text-align: center;
    justify-content: center;
}

.free-training .formfield {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.free-training .formfield p {
    font-size: 14pt;
}

.free-training .formfield label {
    font-size: 24pt;
}

.free-training .formfield input, .free-training .formfield select {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 50px;
    padding: 30px;
    font-size: 14pt;
    color: #353535;
    font-family: var(--font-family);
}

.free-training .formfield select {
    padding: 0;
    padding-left: 30px;
}

.thicklabel {
    font-weight: 800;
}

.stage1, .stage2, .stage3, .stage4 {
    width: 70%;
}

.stage2, .stage3, .stage4 {
    display: none;
}

.redtext {
    color: red;
    font-size: 9pt !important;
    display: none;
}

.success {
    width: 100% !important;
    height: auto;
    padding: 100px;
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.success img {
    width: 10%;
    margin-bottom: 30px;
}

@media only screen and (max-width:768px) {
    .successContainer p {
        width: 80%;
    }

    .adsAcademia a {
        width: 80%;
    }
    
    .courserow a {
        width: 100%;
        margin-right: 0;
    }

    .courses_container {
        margin-top: 20px;
    }

    .Mobile {
        display: flex;
    }

    .Desktop {
        display: none;
    }
    
    .paymentContainer {
        width: 100%;
    }

    .blackbkg {
        width: 100%;
    }

    .tape {
        width: 100%;
    }

    .formcolumn {
        padding: 20px;
    }

    .formfieldrow .formfield {
        margin-right: 0;
        width: 100% !important;
    }
    
    .formfieldrow {
        flex-direction: column;
    }

    .surveyarea h1 {
        font-size: 18pt;
        width: 100%;
    }

    .formfield input, .formfield select, .formfield textarea {
        width: 100%;
    }

    .surveyarea {
        padding: 10%;
        width: 100%;
    }

    .navigations {
        width: 100%;
        margin-top: 20px;
    }

    .area {
        display: flex;
        flex-direction: column;
    }
    
    .sectionHeaderContainer {
        height: auto;
        padding: 25% 10%;
        width: 100%;
    }

    .body-section p {
        width: 100%;
    }

    .formfield {
        width: 100%;
    }

    .formrow {
        display: flex;
        flex-direction: column;
    }

    .successContainer img {
        width: 45%;
    }
}